html{
    text-align: center;
    width:100%;
    height:100%;
    background-color: #fcecdd;
}
body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
a{
    color:#fea82f;
    font-family: roboto;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#canvas_container{
    width:90%;
    height:80%;
    margin:auto;
    border:black 5px solid;
    position: relative;
}
#canvas{
    width:100%;
    height:100%;
    background-color:#ffc288;
    cursor:cell;
}
#clear_button{
    text-decoration: none;
    color:#fea82f;
    font-family: roboto;
    font-weight: bold;
    font-size: 20px;
}
#tools_bar{
    width:100%;
}